/* 폰트 스타일링 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* 스와이퍼가 비었을 경우를 위한 스타일 */
.swiper-wrapper:empty::after {
  content: "장소를 선택하면 날씨를 볼 수 있습니다";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #4f709c;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: #f1f2f3;
  border-radius: 15px;
}

.swiper-wrapper:empty ~ .swiper-button-next,
.swiper-wrapper:empty ~ .swiper-button-prev,
.swiper-wrapper:empty ~ .swiper-pagination {
  display: none;
}

.swiper-loading {
  height: 100px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(241, 242, 243, 0.7);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #4f709c;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* 로딩 spin 애니메이션 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-wrapper {
  margin-bottom: 48px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #132531;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border: 1px solid #eee;
  border-radius: 15px;

  width: 200px;
  min-height: 200px;
  height: 200px;
  padding: 12px;

  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.swiper-slide.sunny {
  background-color: #fffff4;
}

.swiper-slide.partly_cloudy {
  background-color: #f1f2f3;
}

.swiper-slide.cloudy {
  background-color: #d5dce6;
}

.swiper-slide.rainy {
  background-color: #e7e7e8;
}

.swiper-slide.snowy {
  background-color: #f5fbfe;
}

.swiper-slide:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.swiper-slide p {
  margin: 5px 0;
  color: #333;
}

.swiper-slide .date {
  font-size: 18px;
  font-weight: bold;
}

.swiper-slide .temp {
  font-size: 16px;
}

.swiper-slide .precipitation {
  font-size: 14px;
}

.swiper-slide p {
  line-height: 1.4;
}

.swiper-slide .date-of-week {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.swiper-slide .weather-icon {
  margin-block: 8px;
  width: 36px;
  height: 36px;
}

.swiper-slide .temperature-text {
  font-size: 14px;
  color: #7c7c7c;
}

.swiper-slide .temperature {
  margin: 0;
  font-weight: 500;
}

.temperature.min {
  color: #4f709c;
}

.temperature.max {
  color: #ff6b6b;
}

.swiper-slide .rainfall {
  font-size: 12px;
  margin-top: 12px;
}

/* Swiper 내비게이션 버튼 스타일링 */
.swiper-button-next,
.swiper-button-prev {
  color: #c6cedf;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #4f709c !important;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 16px !important;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Swiper 페이지네이션 스타일링 */
.swiper-pagination-bullet {
  background: #4f709c !important;
}

.swiper-pagination-bullet-active {
  background: #4f709c !important;
}

/* 여기서부터 모바일 반응형 스타일 추가 */
@media screen and (max-width: 768px) {
  .swiper-wrapper:empty::after {
    height: 80px;
    font-size: 14px;
  }

  .swiper-wrapper {
    margin-bottom: 24px;
  }

  .swiper-slide {
    width: 150px;
    min-height: 170px;
    height: 150px;
    padding: 8px;
  }

  .swiper-slide img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .swiper-slide .date {
    font-size: 16px;
  }

  .swiper-slide .temp {
    font-size: 14px;
  }

  .swiper-slide .precipitation {
    font-size: 12px;
  }

  .swiper-slide .date-of-week {
    font-size: 12px;
  }

  .swiper-slide .weather-icon {
    width: 30px;
    height: 30px;
  }

  .swiper-slide .temperature-text {
    font-size: 12px;
  }

  .swiper-slide .rainfall {
    font-size: 10px;
    margin-top: 8px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 24px !important;
    height: 24px !important;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 12px !important;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .swiper-pagination {
    bottom: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
